{% extends 'layouts/base.html' %}

{% set page_title = 'Home' %}

{% block body %}
<div class="jumbotron">
    <h1>Por Causa Del Llamdo</h1>
    <p>Pero de ninguna cosa hago caso, ni estimo preciosa mi vida para mí mismo, con tal que acabe mi carrera con gozo, y el ministerio que recibí del Señor Jesús, para dar testimonio del evangelio de la gracia de Dios.</p>
    <p><a role="button" href="{{ url_for('frontend.signup')}}" class="btn btn-lg btn-primary"><strong>Sign up »</strong></a></p>
</div>
{% endblock %}
